
header {
    position: relative;
    min-height: 350px;
    color: #fff;
    background-color: #999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: right center ;
    background-attachment: fixed;
    
  }
  header > * {
      z-index: 10;
  }
  
  .text-container{
      max-width: 85%;
      margin-top: -50px;
  }
  
  .visitus-heading{
      font-size: 3.1rem;
      font-weight: 400;
  }
  .visitus-subtext p{
      font-size: 1.54rem;
      font-family: 'Open Sans';
      color: rgba(255, 255, 255, 0.794);
  }
  
  .visit-us-form{
      width: 100%;
      min-height: 100vh;
      border: 1px solid transparent;
      background: #F9F9F9;
      padding: 0px 70px;
      z-index: 5;
      position: relative;
  }
  .card-form{
      position: relative;
      padding:40px;
      background: #fff;
      border: 1px solid transparent;
      color: #000;
      margin-top: -45px;
      margin-bottom: 50px;
      min-height: 100vh;
      z-index: 90;
  }
  .about-us-1{
      text-align: left;
  }
  .about-us-1 h3{
      font-family: 'Montserrat';
      font-weight: 400;
      font-size: 20px;
      color: #222;
      margin-top: 5px;
  }
  .about-us-1 > p{
      font-family: 'Open Sans';
      margin: 15px 0px;
      color: #9c9c9c;
      line-height: 1.6;
      font-size: .945rem;
  }
  .about-us-1 > p .head,
  label span{
      color: #5f6cfa;
      font-weight: 550;
      font-size: 1.1rem;
  }
  .embedded-map{
      margin: 13px 0px;
  }
  .line-break{
      width: 100px;
      color: #000;
      height: 20px;
  }
  .contact-form{
      text-align: left;
      padding-bottom: 50px;
  }
  .contact-form h3{
      margin: 0px 0px 8px;
      font-size: 21px;
      font-weight: 500;
      font-family: inherit;
  }
  
  .contact-form label{
      display: block;
      font-family: 'Open Sans';
      color: #9c9c9c;
      margin: 0px 0px 7px;
      font-weight: 600;
      font-size: .9rem;
  }
  form input{
      width: 100%;
      background: #fff;
      padding: 13px;
      border: 1px solid #e1e1e1;
      color: #919191;
      border-radius: 2px;
  }
  form input:focus,
  form textarea:focus{
      outline: 0;
  }
  .name,
  .email,
  .subject,
  .message{
      margin: 14px 0px;
  }
  .message textarea{
      padding: 13px;
      color: #919191;
      width: 1120px;
      margin: 14px 0px;
      border: 1px solid #e1e1e1;
  }
  
  /* .message-area:placeholder-position{
      top: 0;
      left: 0;
  } */
  
  form button{
      background: #5f6cfa;
      color: #fff;
      width: 130px;
      padding: 13px 40px;
      cursor: pointer;
      border: 1px solid #5f6cfa;
      outline: none;
      border-radius: 1.5px;
      font-size: 13px;
  }


  /* Custom separator */

  
  #sep2 {
    overflow: hidden;
    text-align: center;
    color:#fff;
    font-size: 1.3rem;
    z-index:20;
  }
  
  #sep2:before,
  #sep2:after {
    background-color: rgba(255, 255, 255, 0.726);;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 20%;
  }
  
  #sep2:before {
    right: 0.5em;
    margin-left: -50%;
    margin-bottom:-9px;
  }
  
  #sep2:after {
    left: 0.5em;
    margin-right: -50%;
    margin-bottom:-9px;
  }