.logo{
    margin-left:20px;
}

.left{
    display: flex;
    margin-left: auto;
    width: 750px;
}

.nav-container{
    width: 100%;
    display: flex;
    background-color:#fff;
    font-family: 'Nunito',sans-serif;
    padding:0 45px;
    z-index:9999;
    position: sticky;
    top: 0;
}

.nav-links{
    font-family: 'Montserrat';
    border-right: 1px solid #e1e1e1;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px 0px 0px;
    
}

.nav-link{
    color: grey;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items:center;
    justify-content: space-between;
    height: 100%;
    margin: 0px 7px;
    padding: 0px 5px;
    /* letter-spacing: .1px; */
}
.nav-link:hover{
    color: #fff;
    background:#5f6cfa;
    transition: all .4s ease-in-out;
}

.nav-social-links{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    padding:0 5px;
    width: 150px;
    /* border: 1px solid purple; */
}
.nav-social-link{
    margin:0px 2px;
    border: 1px solid transparent;
    padding: 0px 6px;
    text-decoration: none;
    color: #808080;
}
.icon{
    margin-top: 6px;
}
.nav-social-link:nth-of-type(1):hover{
    transition: background .4s ease;
    background: #46D4FE;
    color: #fff;
    border-radius: 50%;
}
.nav-social-link:nth-of-type(2):hover{
    transition: background .4s ease-in;
    border-radius: 50%;
    background: #A67658;
    color: #fff;
}
.nav-social-link:nth-of-type(3):hover{
    border-radius: 50%;
    transition: background .4s ease-in;
    color: #fff;
    background: #37589B;
}
.nav-social-link:nth-of-type(4):hover{
    border-radius: 50%;
    transition: background .4s ease-in;
    color: #fff;
    background: #A72B1D;
}