.logo{
    margin-left:20px;
}

.left{
    display: flex;
    margin-left: auto;
    width: 750px;
}

.nav-container{
    width: 100%;
    display: flex;
    background-color:#fff;
    font-family: 'Nunito',sans-serif;
    padding:0 45px;
    z-index:9999;
    position: sticky;
    top: 0;
}

.nav-links{
    font-family: 'Montserrat';
    border-right: 1px solid #e1e1e1;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 25px 0px 0px;
    
}

.nav-link{
    color: grey;
    font-size: 18px;
    font-weight: 500;
    display: flex;
    align-items:center;
    justify-content: space-between;
    height: 100%;
    margin: 0px 7px;
    padding: 0px 5px;
    /* letter-spacing: .1px; */
}
.nav-link:hover{
    color: #fff;
    background:#5f6cfa;
    transition: all .4s ease-in-out;
}

.nav-social-links{
    display: flex;
    align-items: center;
    height: 90px;
    margin:0 30px;
    width: auto;
}
.nav-social-link{
    padding: 0 5px;
    text-decoration: none;
    color: #808080;
    background: transparent;
}